h1{
    color: #5f4141;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 40px;
    font-size: 35px;
    letter-spacing: 3px;
  }

.links{
    font-size: 20px;
    margin-left: 30px;
}

.title{
    margin-bottom: 20px;
}